[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/vim-bookmarks"]
	path = vim/bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "vim/bundle/vim-reveal-in-finder"]
	path = vim/bundle/vim-reveal-in-finder
	url = https://github.com/henrik/vim-reveal-in-finder.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/ShaderHighLight"]
	path = vim/bundle/ShaderHighLight
	url = https://github.com/vim-scripts/ShaderHighLight.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/bundle/vim-youdao-translater"]
	path = vim/bundle/vim-youdao-translater
	url = https://github.com/ianva/vim-youdao-translater.git
[submodule "vim/bundle/open-browser.vim"]
	path = vim/bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "vim/bundle/vim-autoread"]
	path = vim/bundle/vim-autoread
	url = https://github.com/djoshea/vim-autoread.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = https://github.com/Mic92/vicious.git
