extends c

snippet try
try {
    ${0}
} catch (${1:std::exception& e}) {
    ${2:std::cerr << e.what() << std::endl;}
}
endsnippet

snippet class
class ${1} {
  public:
    $1();
    virtual ~$1();
};
endsnippet

snippet constructor
${1:foo}::$1() {
}

$1::~$1() {
}
endsnippet

# vim:ft=snippets:
