extends c

snippet try
try {
    ${1}
} catch (${2}) {
    ${3}
}
endsnippet

snippet class
class ${1} {
  public:
    $1();
    ~$1();
	${0}
};
endsnippet

snippet constructor
${1:foo}::$1() {
}

$1::~$1() {
}
endsnippet

# vim:ft=snippets:
